@tailwind base;
@tailwind components;
@tailwind utilities;

html {
	scroll-behavior: smooth;
	color: white;
	background-color: #0A192F;
	overflow-x: hidden;
}

ul {
  	list-style-type: none;
}

input {
	width: 100%;
	margin-bottom: 1rem;
	padding: 0.5rem;
	background-color: #0A192F;
	border: 1px solid #2E3E5C;
	border-radius: 0.25rem;
}

input:focus {
	border: 1px solid #52d1b8;
	outline: none;
}

.sun-editor{
	border: 1px solid #2E3E5C !important;
	background-color: none !important;
	outline: none !important;
}

.se-toolbar {
	border: none !important;
	outline: none !important;
}
.sun-editor-editable {
	background-color: #0A192F !important;
	color: white !important;
}

.se-btn-tray {
	background-color: #112240 !important;
}

.se-btn {
	background-color: #0A192F !important;
	color: white !important;
}

.se-btn-module-border {
	border-width: 0px !important;
}

.se-btn:enabled.active {
	color: #52d1b8 !important;
	border: 1px solid #52d1b8;
}

.se-image-container {
	margin: 1rem 0;
}

.se-video-container figure{
	padding-bottom: 0 !important;
}
.se-video-container iframe{
	min-height: 400px !important;
}
.se-resizing-bar{
	display: none !important;
}

.description h1,.description h2,.description h3,.description p{
	margin-top: 0.7rem;
}

._content h1, .description h1 {
  position: relative;
  font-size: xx-large;
  font-weight: 600;
  color: #64FFDA;
  padding-left: 16px;
  line-height: 1.4;
}

._content h1::before, .description h1::before {
  content: "";
  position: absolute;
  left: 0;
  top: 0.25em;
  width: 4px;
  height: 1em;
  background: #64FFDA;
  border-radius: 2px;
}

._content h2, .description h2 {
  position: relative;
  font-size: x-large;
  font-weight: 600;
  color: #64FFDA;
  padding-left: 20px;
  line-height: 1.5;
}

._content h2::before, .description h2::before {
  content: "";
  position: absolute;
  left: 0;
  top: 1rem;
  width: 8px;
  height: 8px;
  background: #64FFDA;
  border-radius: 50%;
}
._content p a, .description p a{
	color: #64FFDA;
	border-bottom: #64FFDA 1px solid;
}

._content h3, .description h3{
	color: #64FFDA;
	font-weight: 600;
	font-style: bold;
}

.sun-editor input{
	background-color: #d6d6d6 !important;
}

.sun-editor ._se_bookmark_button,
.sun-editor .se-dialog-form-footer {
  display: none !important;
}
